bin/
obj/
publish/

*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/


*.nupkg
packages/
.nuget/

.idea/

*.log
*.sqlite
*.db

*.pdb
*.cache
*.zip

__pycache__/
*.pyc
*.pyo

env/
venv/

appsettings.json
appsettings.*.json
